<?xml version="1.0" encoding="UTF-8"?>
<project xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd"
	xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<modelVersion>4.0.0</modelVersion>

	<parent>
		<groupId>org.sourcepit</groupId>
		<artifactId>srcpit-parent</artifactId>
		<version>23</version>
	</parent>

	<groupId>org.sourcepit.emf.derive</groupId>
	<artifactId>org.sourcepit.emf.derive</artifactId>
	<version>1.0.0-SNAPSHOT</version>
	<packaging>pom</packaging>

	<properties>
		<tycho.version>0.26.0</tycho.version>
		<b2.version>0.21.0-SNAPSHOT</b2.version>
		<b2.executionEnvironment>JavaSE-1.8</b2.executionEnvironment>
		<b2.facets.requiredFeatures>
			org.eclipse.emf,
			org.eclipse.emf.compare
		</b2.facets.requiredFeatures>
		<b2.assemblies.sdk.requiredFeatures>
			org.eclipse.emf.sdk,
			org.eclipse.emf.compare.source
		</b2.assemblies.sdk.requiredFeatures>
	</properties>

	<repositories>
		<repository>
			<!-- repo to resolve parent pom from -->
			<id>srcpit-public</id>
			<url>http://nexus.sourcepit.org/content/groups/public/</url>
		</repository>
		<repository>
			<id>neon</id>
			<url>http://download.eclipse.org/releases/neon</url>
			<layout>p2</layout>
		</repository>
	</repositories>

	<build>
		<plugins>
			<plugin>
				<groupId>org.eclipse.tycho</groupId>
				<artifactId>target-platform-configuration</artifactId>
				<version>${tycho.version}</version>
				<configuration>
					<resolver>p2</resolver>
					<dependency-resolution>
						<extraRequirements>
							<requirement>
								<id>org.eclipse.platform</id>
								<versionRange>[4,5)</versionRange>
								<type>eclipse-feature</type>
							</requirement>
						</extraRequirements>
					</dependency-resolution>
					<environments>
						<environment>
							<os>win32</os>
							<ws>win32</ws>
							<arch>x86_64</arch>
						</environment>
						<environment>
							<os>linux</os>
							<ws>gtk</ws>
							<arch>x86_64</arch>
						</environment>
					</environments>
				</configuration>
			</plugin>
			<plugin>
				<groupId>org.sourcepit.b2</groupId>
				<artifactId>b2-maven-plugin</artifactId>
				<version>${b2.version}</version>
				<extensions>true</extensions>
			</plugin>
		</plugins>
	</build>

</project>
